BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Always
ContinuationIndentWidth: 0
IndentWrappedFunctionNames: true

IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: None
IndentExternBlock: false
ColumnLimit: 0

AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: No

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman

BraceWrapping:
  AfterCaseLabel: true
  BeforeElse: true
  BeforeCatch: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
PointerAlignment: Right
DerivePointerAlignment: false
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: DontAlign
AlignAfterOpenBracket: false
BinPackParameters: false
BinPackArguments: false
ReflowComments: false
CommentPragmas: 'ignore'
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: Never
IncludeBlocks: Preserve
MacroBlockBegin: ''
MacroBlockEnd: ''
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: true
DisableFormat: false
